img { 
    height:200px;
    width:400px;
    position: relative;
    right:20px;
}

h1 {
    font-family:sans-serif;
    color: #a2bc55;
    font-size: 90px;
}

body {
    text-align: center;
    background-color:#ccffeb;
}

#first {
    font-size:30px;
    line-height: 40px;
    color:#a2bc55;
    border: solid 10px #6d6c7a;
    text-decoration: bold;
    float: left;
}

h3 {
    font-size: 32px;
    font-style: italic;
}
